In [1]:
name = "Dedi"
age = 20
address,province = "Jl. Cibolang","7413412"
scorePython = 80.5
isMarried = False

print("Nama :",name)
print("Umur :",age)
print("Alamat :",address)
print("Nilai Pemograman :", scorePython)
print("Status Menikah :",isMarried)

Nama : Dedi
Umur : 20
Alamat : Jl. Cibolang
Nilai Pemograman : 80.5
Status Menikah : False

In [3]:
print("Tipe Data <name>",type(name))
print("Tipe Data <age>",type(age))
print("Tipe Data <address>",type(address))
print("Tipe Data <province>",type(province))
print("Tipe Data <scorePython>",type(scorePython))
print("Tipe Data <isMarried>",type(isMarried))

Tipe Data <name> <class 'str'>
Tipe Data <age> <class 'int'>
Tipe Data <address> <class 'str'>
Tipe Data <province> <class 'str'>
Tipe Data <scorePython> <class 'float'>
Tipe Data <isMarried> <class 'bool'>

In [5]:
#Casting atau konversi Tipe Data
#Konversi dari String ke (int,float,bool)
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt,strToFloat,strToBool, sep="-")

#Konversi dari int ke(str,float,bool)
intToStr = str(age)
intToFloat = float(age)
intToBool = bool(age)
print(intToStr,intToFloat,intToBool, sep="-")

#Konversi dari bool ke(int,float,bool)
boolToInt = int(isMarried)
boolToFloat = float(isMarried)
boolToStr = str(isMarried)
print(boolToInt,boolToFloat,boolToStr, sep="-")

7413412-7413412.0-True
20-20.0-True
0-0.0-False

In [7]:
city ="Bandung"
lenCity = len(city)
print(city[0])
print(city[lenCity-1])

B
g

In [9]:
desimal = 200
hexa = 0xff
biner = 0b1010
octal = 0o377

print("Nilai Desimal :",desimal)
print("Nilai Desimal dari 0xff:",hexa)
print("Nilai Desimal dari 0b1010:",biner)
print("Nilai Desimal dari 0o377:",octal)
print("==========")
print("Nilai Biner dari :",desimal, bin(desimal))
print("Nilai Octal dari :",desimal, oct(desimal))
print("Nilai Hexa dari :",desimal, hex(desimal))

Nilai Desimal : 200
Nilai Desimal dari 0xff: 255
Nilai Desimal dari 0b1010: 10
Nilai Desimal dari 0o377: 255
==========
Nilai Biner dari : 200 0b11001000
Nilai Octal dari : 200 0o310
Nilai Hexa dari : 200 0xc8

In [11]:
#Tipe data Collection

cities = ["Sukabumi","Bandung","Bogor","Jakarta"]
print(cities)
print(cities[0])
print(cities[len(cities)-1])
cities[1] = "Medan"
print(cities)
print(cities[len(cities)-1][0])

['Sukabumi', 'Bandung', 'Bogor', 'Jakarta']
Sukabumi
Jakarta
['Sukabumi', 'Medan', 'Bogor', 'Jakarta']
J

In [13]:
#Tuple
names = ("Andi","Budi","Caca")
print(names)
#names[0] = "Rudi" akan menyebabkan error, karena tauple adalah immutable

studentData = {
    "name" : "Dedi",
    "address" : {
        "street" : "Cisaat",
        "number" : 21,
        "province" : "West Java"
    },
    "age" : 23,
    "isMarried" : True
}
    
print(studentData)
print(studentData["address"]["province"])#West Java

('Andi', 'Budi', 'Caca')
{'name': 'Dedi', 'address': {'street': 'Cisaat', 'number': 21, 'province': 'West Java'}, 'age': 23, 'isMarried': True}
West Java

In [15]:
#List of dictionary
listStudent = [
    {
        "name" : "Dedi",
        "address" : {
        "street" : "Cisaat",
        "number" : 21,
        "province" : "West Java"
    },
        "hobbies" : ["basket","football"],
        "age" : 23,
        "isMarried" : True
    },
    {
        "name" : "Budi",
        "address" : {
        "street" : "Bogor",
        "number" : 25,
        "province" : "West Java"
    },
    "age" : 25,
    "isMarried" : False
    }
]

print(listStudent[1]) #Semua data dari Budi. jika [0]-semua data dari Dedi
print(listStudent[0]["hobbies"][1]) #Football-hobi Dedi urutan ke 2
print(listStudent[0]["age"]) #23-umur Dedi

{'name': 'Budi', 'address': {'street': 'Bogor', 'number': 25, 'province': 'West Java'}, 'age': 25, 'isMarried': False}
football
23

In [19]:
#Casting dictionary

list_tuple = [("name","Dika"),("nilai",80)]
dictStudent = dict(list_tuple)
print(dictStudent)

list_list = [["Buah","Apel"],["Harga",10000]]
dictBuah = dict(list_list)
print(dictBuah)

tuple_tuple = (("name","dah"),("age",15))
dictStudent = dict(tuple_tuple)
print(dictStudent)

tuple_list = (["Buah","Mangga"],["Harga",5000])
dictBuah = dict(tuple_list)
print(dictBuah)

keys = "name","age","address"
values = ["Adi",20,"Bandung"]

dictData = dict(zip(keys,values))
print(dictData)

{'name': 'Dika', 'nilai': 80}
{'Buah': 'Apel', 'Harga': 10000}
{'name': 'dah', 'age': 15}
{'Buah': 'Mangga', 'Harga': 5000}
{'name': 'Adi', 'age': 20, 'address': 'Bandung'}